---
import PageHeader from "../../components/layout/pageHeader.astro";
import Layout from "../../layouts/Layout.astro";

const galleryItems = [
  {
    src: "/images/2.jpeg",
    title: "Ongoing Experiment",
    description: "Live cell imaging during a critical experiment.",
  },
  {
    src: "/images/1.jpeg",
    title: "Team Collaboration",
    description: "The team analyzing data and discussing results.",
  },
];
---

<Layout title="Home">
  <PageHeader
    title="Galería"
    description="Explora nuestra galería de imágenes y videos relacionados con nuestras investigaciones."
  />

  <article class="size-full min-h-screen">
    <ul
      class="grid grid-cols-[repeat(auto-fill,minmax(220px,1fr))] gap-4 py-4 place-content-center w-full"
    >
      {
        galleryItems.map((item, index) => (
          <li class="aspect-square cursor-pointer " data-index={index}>
            <div class="h-full w-full overflow-hidden relative rounded-2xl">
              <img
                src={item.src}
                alt={item.title}
                class="max-w-full  object-cover h-full"
              />
            </div>
            <div class="sr-only">
              <h2>{item.title}</h2>
              <p>{item.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </article>
</Layout>

<style>

  ul:has(li:hover) li {
    filter: grayscale(1);
    transition: filter 0.3s ease;
  }

  ul:has(li:hover) li:hover {
    filter: none;
  }
</style>
