---
import PageHeader from "@/components/layout/pageHeader.astro";
import A from "@/components/ui/a/a.astro";
import ArrowdowIcon from "@/icons/arrowdowIcon.astro";
import Github from "@/icons/github.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const members = await getCollection("members");

export function getStaticPaths() {
  return members.map((member) => ({
    params: { id: String(member.data.id) },
  }));
}

const { id } = Astro.params;

const currentMember = members.find((m) => String(m.data.id) === id);

if (!currentMember) {
  throw new Error(`Miembro con ID ${id} no encontrado`);
}
---

<Layout title={currentMember.data.name}>
  <button
    id="go-back"
    type="button"
    class="btn-back inline-block px-4 py-2 mb-4 bg-black text-white no-underline rounded self-start transition-colors duration-300 hover:bg-black/70 hover:text-black"
    aria-label="Volver atr치s"
  >
    <ArrowdowIcon />
  </button>

  <PageHeader
    title={`
    Miembro de MathBio Lab
  `}
    description=""
    icon={Github}
  />

  <section
    class="container-info flex flex-col items-center justify-center gap-4 p-4 my-4 mx-auto"
  >
    <article
      class="main-section flex flex-col items-center justify-between gap-4 md:gap-8 rounded-2xl shadow-lg p-4 w-full max-w-[1200px] mx-auto my-8 bg-white/90 overflow-hidden"
    >
      <div class="flex items-center flex-col md:flex-row gap-4 shrink-0 images">
        <img
          transition:name={`img${currentMember.data.name}`}
          src={currentMember.data.image}
          alt={`Im치gen de ${currentMember.data.name}`}
          class="profile-image aspect-square max-w-[150px] rounded-lg object-cover w-full rounded-full mb-4"
        />
        <div class="details flex-1 flex flex-col gap-2">
          <h1 class="text-2xl mb-4">{currentMember.data.name}</h1>
          <p class="text-xl">
            <strong>Posici칩n:</strong>
            {currentMember.data.position}
          </p>
          <p><strong>Grado:</strong> {currentMember.data.grade}</p>
          <p>
            <strong>Email:</strong>
            {currentMember.data.email || "No disponible"}
          </p>
        </div>
      </div>
      <A title="Cont치ctme" className="cursor-pointer" />
    </article>
  </section>
</Layout>

<style>
  .btn-back {
    svg {
      transform: rotate(90deg);
    }
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const goBackBtn = document.getElementById("go-back");
    if (goBackBtn) {
      goBackBtn.addEventListener("click", (e) => {
        e.preventDefault();
        window.history.back();
      });
    }
  });
</script>
