---
import { ClientRouter } from "astro:transitions";
import "@styles/global.css";
import Footer from "@components/layout/footer.astro";
import Header from "@components/layout/header.astro";
import Announcement from "@/components/announcement.astro";
import ConfigPage from "@/components/layout/configPage.astro";
import Header2 from "@/components/layout/header2.astro";

interface Props {
  title: string | undefined;
}
const defaultTitle =
  "MathBio Lab - Grupo de investigación en modelado matemático y biología";

const { title = defaultTitle } = Astro.props;

const websiteTitle = "MathBio Lab";
const linkWebsite = "http://mathbio.genomas.cl";
const websiteImage = "http://mathbio.genomas.cl/images/home/menu-2.jpg";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={websiteTitle} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta property="og:title" content="MathBio Lab" />
    <meta
      property="og:description"
      content="Grupo de investigación en modelado matemático y biología."
    />
    <meta property="og:image" content={websiteImage} />
    <meta property="og:url" content={linkWebsite} />
    <meta property="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="MathBio Lab" />
    <meta name="twitter:description" content={defaultTitle} />
    <meta name="twitter:image" content={websiteImage} />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  </head>

  <body class="min-h-screen overflow-x-hidden">
    <ClientRouter />

    <div
      class="fixed inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
    >
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_800px_at_100%_200px,#d5c5ff,transparent)]"
      >
      </div>
    </div>
    <Announcement />

    
    <Header />
    <main
      class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-8 min-h-screen overflow-x-hidden"
    >
      <slot />
    </main>
    <ConfigPage />
    <Footer />
  </body>
</html>

<script>
  document.addEventListener("astro:page-load", () => {
    const fallbackSrc = "/fallback-profile.png";

    document.querySelectorAll("img").forEach((img) => {
      const applyFallback = () => {
        if (!img.dataset.fallback) {
          img.dataset.fallback = "true";
          img.src = fallbackSrc;
        }
      };

      if (img.complete && img.naturalWidth === 0) {
        applyFallback();
      }

      img.onerror = applyFallback;
    });
  });
</script>
